<div class="wrapper col-sm-6 col-sm-offset-3 ">
  <% if @tweet.errors.any? %>
      <div id="error_explanation">
        <h4><%= @tweet.errors.count %>件のエラーがあります。</h4>
  
        <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
   <% end %>
    
  <%= form_for(@tweet) do |f| %>
      <%= f.text_area :content, :maxlength => "255", class:"form-control" %>
      <br>
      <%= f.submit "ツイート", class:'btn btn-default btn-sm btn-primary pull-right' %>
  <% end %>
  <!--<%= link_to "戻る", tweets_path, class: 'btn btn-default btn-sm btn-success' %>-->
  <%= form_for(@tweet, url: tweets_path, method: 'get') do |f| %>
    <%= f.hidden_field :content %>
    <%= f.submit "戻る",  class: 'btn btn-default btn-sm btn-success', name: choose_new_or_edit %>
  <% end %>
  
</div>